*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  background: #000;
  height: 40px;
  align-items: center;
  justify-content: end;
}
.header a {
  text-decoration: none;
  color: #eee;
  padding: 0 15px;
}
.main-container {
  border: 5px double #bbb;
  margin: 15px;
  padding: 15px;
  height: 100vh;
}
